<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="static/maria_index/css/chatbot.css" rel="stylesheet" id="bootstrap-css">
<!------ Include the above in your HEAD tag ---------->
<style>
    .img-circle {
        border-radius: 55% !important;
        width: 49px !important;
        height: 34px !important;
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-comment"></span> Chat
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </button>
                    <ul class="dropdown-menu slidedown">
                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-refresh">
                                </span>Refresh</a></li>
                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-ok-sign">
                                </span>Available</a></li>
                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-remove">
                                </span>Busy</a></li>
                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-time"></span>
                                Away</a></li>
                        <li class="divider"></li>
                        <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-off"></span>
                                Sign Out</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <ul class="chat">
                    <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="static/maria_index/images/BCR_logo.png" class="img-circle" />
                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <strong class="primary-font">Bot BCR</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>12 mins ago</small>
                            </div>
                            <p>
                                Cu ce te pot ajuta?<br />
                                1 ) Vrei sa stii cum sa iti faci un appoinment?<br />
                                2 ) Ai intrebari despre noi?<br />
                                3 ) Cum ajungi la o sucursala?<br />
                            </p>
                        </div>
                    </li>


                    <li class="right clearfix"><span class="chat-img pull-right">

                        </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins
                                    ago</small>

                            </div>
                            <p>
                                asdas asdasas dasdasdas
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="panel-footer">
                <div class="input-group">
                    <input id="btn-input" type="text" class="form-control input-sm"
                        placeholder="Type your message here..." />
                    <span class="input-group-btn">
                        <button class="btn btn-warning btn-sm" id="btn-chat">
                            Send</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //click on btn_chat append a div to chat
    $('#btn-chat').on('click', function () {
        //get value from input and send it to the server
        var input = $('#btn-input').val();
        $.ajax({
            type: 'GET',
            url: "http://172.29.0.3:5000/chatbot_responses?message=" + input,
            success: function (data) {
                console.log(data);

                $('.chat').append(`
                <li class="right clearfix"><span class="chat-img pull-right">
                </span>
                <div class="chat-body clearfix">
                    <div class="header">
                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins
                            ago</small>

                    </div>
                    <p>
                        `+ data.data[0] + `
                    </p>
                </div>
                </li>`);
            }
        });

    });
</script>